.cards {
    display: flex;

    .card {
        width: 50%;
        padding: 2rem;
        text-align: center;
        background-color: aqua;
        border-radius: .5rem;
    }
}

@media screen and (max-width: 768px) {

    .cards {
        flex-wrap: wrap;

        .card {
            width: 100%;
        }
    }
}