.hero {
    text-align: center;
    padding: 5rem 0;

    h1 {
        font-size: 3rem;
    }

    .subtitle {
        padding: 1rem 0;
    }

    .hero_image {

        img {
            width: 100%;
            max-width: 1080px;
            object-fit: cover;
        }
    }
}