.job_page {
    padding: 3rem 0;
    display: flex;
    width: 100%;
    gap: 2rem;

    .job_info {
        border-radius: .5rem;
        width: 60%;
        padding: 3rem;
        background-color: var(--jo-lighter);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .badges {
            display: flex;
            justify-content: space-between;

            span {
                padding: .45rem 1.5rem;
                display: block;
                border-radius: 2rem;
                border: 1px solid var(--jo-secondary);
                color: var(--jo-secondary-dark);
            }

            .go_back {
                background-color: var(--jo-dark);
                padding: 0;
                height: 41px;
                aspect-ratio: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                transition: .25s ease;
                cursor: pointer;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--jo-light);
                }

                &:hover {
                    background-color: var(--jo-primary);

                    a {
                        color: var(--jo-dark);
                    }
                }
            }
        }

        .job_title {
            font-size: 1.8rem;
            padding-top: 1rem;
            padding-bottom: .5rem;
        }

        .wrapper {
            display: flex;
            align-items: center;
            gap: .5rem;
        }

        .wrapper.location {
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 2rem;

            .icon {
                font-size: 1.25rem;
            }
        }

        .wrapper.salary_title {
            margin-top: 2rem;

            .icon {
                font-size: 1.6rem;
            }
        }

        .description {
            padding: 2rem 0;
        }

        .salary {
            padding-top: 1rem;
            color: var(--jo-primary);
            font-weight: bold;
            font-size: 1.2rem;

            span {
                font-weight: 400;
            }
        }
    }

    .company_info {
        width: 40%;
        display: flex;
        gap: 2rem;
        flex-direction: column;

        .top {
            background-color: var(--jo-dark);
            padding: 3rem;
            border-radius: .5rem;
            color: var(--jo-lighter);
            flex: 1;


            h4 {
                color: var(--jo-secondary-dark);
                font-weight: 300;
            }

            p {
                padding-top: .5rem;
                font-weight: 300;
                font-size: .9rem;
                line-height: 1.3rem;
            }

            .contact {
                border-top: 1px solid rgb(0, 0, 0);
                margin-top: 2rem;
                padding-top: 2rem;

                div:last-child {
                    margin-top: .5rem;
                }

                div {
                    display: flex;
                    align-items: center;
                    gap: .8rem;
                    color: var(--jo-secondary-dark);
                    font-weight: 300;

                    .icon {
                        font-size: 1.3rem;
                        color: var(--jo-primary);
                    }
                }
            }
        }

        .bottom {
            background-color: var(--jo-lighter);
            padding: 3rem;
            border-radius: .5rem;

            .btn_dark:first-child {
                margin-bottom: 1rem;
                background-color: var(--jo-primary);
                color: var(--jo-dark);
                font-weight: 500;
            }

        }
    }
}



@media screen and (max-width: 1080px) {

    .job_page {
        display: flex;
        flex-direction: column;

        .job_info {
            width: 100%;
        }

        .company_info {
            width: 100%;
            flex-direction: row;

            .bottom {
                display: flex;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .job_page {
        display: flex;
        flex-direction: column;

        .job_info {
            width: 100%;
        }

        .company_info {
            width: 100%;
            flex-direction: column;

            .bottom {
                display: block;
            }
        }
    }
}