.job_card {
    background-color: var(--jo-lighter);
    border-radius: 0.5rem;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color .45s ease, box-shadow .45s ease;

    &:hover {
        background-color: var(--jo-lighter);
        box-shadow: 20px 20px 20px #e1e1e1,
            -20px -20px 50px var(--jo-lighter);
    }

    .top {
        .badges {
            display: flex;
            align-items: center;

            span {
                padding: .45rem 1.2rem .3rem 1.2rem;
                display: block;
                border-radius: 2rem;
                font-size: .85rem;
                border: 1px solid var(--jo-secondary);
                color: var(--jo-secondary-dark);
            }
        }

        .job_title {
            padding-top: 1rem;
            padding-bottom: .5rem;
        }

        .description {
            font-size: .85rem;
        }

        .show_more {
            border: none;
            color: var(--jo-dark);
            font-weight: bold;
            cursor: pointer;
        }
    }


    .bottom_card {

        .salary {
            color: var(--jo-primary);
            font-weight: bold;
            padding: 1rem 0;
            margin-top: .5rem;

            span {
                font-weight: 400;
            }
        }

        .wrapper {
            padding-top: 1.5rem;
            border-top: 1px solid #e4e4e4;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .location {
                display: flex;
                align-items: center;
                gap: .5rem;

                .icon {
                    font-size: 1.25rem;
                }
            }
        }
    }
}



@media screen and (min-width: 768px) {

    .job_card {
        width: calc(100% / 2 - 2rem);
    }
}

@media screen and (min-width: 1440px) {

    .job_card {
        width: calc(100% / 3 - 4rem / 3);
    }
}