.not_found {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .icon {
        font-size: 3rem;
        color: var(--jo-primary);
    }

    h3 {
        color: var(--jo-secondary);
        margin-bottom: 2rem;
    }
}