:root {
  --jo-lighter: #FFF;
  --jo-dark: #282828;
  --jo-light: #F8F8F8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--jo-light);
  color: var(--jo-dark);
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}